<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
    <link rel="stylesheet" href="index.html">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="support.html">
    <link rel="stylesheet" href="about.html">
</head>
<body>
    <div class="hero">
        <div class="navbar">
            <a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='updated lodo-01-final-01.png') }}" class="logo"></a>
            <ul>
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('support') }}">Support</a></li>
            </ul>
        </div>
        </div>
        <div class="container">
            <header>
                <h1>Contact Us</h1>
            </header>
            <div class="contents">
            <div class="content-form">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque odio neque saepe nulla numquam doloremque, delectus nam vero atque reiciendis, eius vitae quas a velit sequi eum laudantium voluptatibus fuga?
                </p>
                <section>
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    <h2>address</h2>
                    <p>Lorem ipsum dolor sit. <br>
                    Lorem, ipsum dolor. <br>
                    lorem
                    </p>
                </section>
                <section>
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    <h2>phone</h2>
                    <p>+234-8090211233</p>
                </section>
                <section>
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    <h2>Email</h2>
                    <p>kong@gmail.com</p>
                </section>
            </div>
        </div>
            <form>
                <div class="form">
                    <div class="rights">
                        <div class="contact-form">
                            <input type="text" required>
                            <span>Full name</span>
                        </div>
                        <div class="contact-form">
                            <input type="Email" required>
                            <span>Email id</span>
                        </div>
                        <div class="contact-form">
                            <textarea name="text"></textarea>
                            <span>Type your Message....</span>
                        </div>
                        <div class="contact-form">
                            <input type="submit" name="submit">
                        </div>

                    </div>
                    </div>
            </form>
            <div class="media">
                <li> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
                <li> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
                <li> <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></li>
                <li> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
            </div>
            <div class="empty">


    </div>
</body>
</html>